[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/T282
[access "refs/for/refs/*"]
	read = group user/T282
	push = group user/T282
	label-Code-Review = -2..+2 group user/T282
	label-Verified = -1..+1 group user/T282
	rebase = group user/T282
	removeReviewer = group user/T282
	submit = group user/T282
[access "refs/heads/*"]
	read = group user/T282
	create = group user/T282
	push = +force group user/T282
	pushMerge = group user/T282
[access "refs/tags/*"]
	push = +force group user/T282
	pushTag = group user/T282
	pushSignedTag = group user/T282
